
 .main {
     background:url(png/burgersmain.png);
     background-size: cover;
 }
 .section {
     height: 100vh;
     min-height: 650px;
 }
 .main__container {
    justify-content: flex-start;
 }
 .header {
     margin-top: 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .navigation__link {
    color: #fff;
    text-decoration: none;
    font-family: 'ubunturegular';
    font-size: rem(13px);
    font-weight: 500;
    line-height: rem(30px);
    text-transform: uppercase;
 }
 .navigation__item{
    list-style: none;
    display: flex;
    align-items: center;

    &:first-child{
        &:before{
            display: none;
        }
    }
    &:before {
        content: '';
        display: block;
        width: rem(4px);
        height: rem(4px);
        border-radius: 50%;
        background-color: white;
        margin: 0 14px;
         }
}
.navigation__items{
    display: flex;
}
 .navigation{
     align-items: center;
     margin-right: 28px;
 }
 .navigation__list {
    align-items: center;
    display: flex;
    margin-top: 24px;

    @include tablets {
        display: none;
    }
 }
 .header__buttons {
     display: flex;
     align-items: center;
 }
.button {
    padding:3px 16px;
    border-radius: rem(7px);
    background: #e35028;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'ubunturegular';
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    &--knock {
        @include tablets {
            margin-left: -9.375rem;
            margin-top: -2.25rem;
        }
    }
}
.logo__img {
    width: rem(100px);
    height: rem(100px);
}
.main__content {
    display: flex;
    align-items: center;
    flex: .8;
    @include tablets {
        flex-direction: column;
        padding: 0 12%;
        text-align: center;
        margin-top: -50px;
    }
    @include phones {
        padding: 0 5%;
    }
}
.main__img {
    @include phones {
        width: 100%;
    }
}
.title {
    font-family: 'gagalinregular';
    font-size: rem(72px);
        &--color_yellow {
        color: #f9b43b ;
        margin-bottom: -40px;
        font-weight: 300;
        }
        @include tablets {
            font-size: rem(63px); 
            margin-top: 0;
            margin-bottom: 0;
        }
}
.main__subt {
    font-size: rem(65px);
    font-family: 'lifehackmedium';
    color: white;
    line-height: rem(60px);
    font-weight: 300;
    @include tablets {
        margin: 0;
        font-size: rem(54px);
    }
}
.main__picture,
.main__text {
    width: 50%;
    @include tablets {
        width: 100%;
    }
}
.main__down {
    width: 1.875rem;
    height: 0.9375rem;
    align-self: center;
    margin-top: 1.875rem;
}
.main__down-link {
    display: block;
    
}
.main__down-img {
    background-image: url(svg/arrow.svg);
    width: 1.875rem;
    height: 0.9375rem;
    background-repeat: no-repeat;
    @include tablets {
        margin-top: 5.875rem;
        width: 2.875rem;
        height: 1.9375rem;
    }
    @include phones{
        margin-top: 1.875rem;
    }
}
.burgerclick__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-transform: uppercase;
}
.burgerclick{
    display: flex;
    text-align: center;
    background-color: #2e3133;
    opacity: 0.9;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    display: none;
}
.burgerclick__img {
    width: 5.6875rem;
    height: 4.4375rem;
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
}
.burgerclick__list, .burgerclick__item {
    position: relative;
}
.burgerclick__list, .burgerclick__item, .burgerclick__link {
    color: white;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'ubunturegular';
}
.burgerclick__item::after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.burgerclick__item--contacts::after {
    display: none;
}
.burgerclick__open{
    display: flex;
    overflow: hidden;
}