.map__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.map__footer {
    position: absolute;
    bottom: 0;
    background-image: url(png/bg.png);
    width: 100%;
    height: rem(60px);
    display: flex;
    @include phones{
        height: 7.1875rem;
    }
}
.map__adress {
color: #ffffff;
font-family: 'ubunturegular';
font-size: rem(14px);
line-height: rem(35px);
white-space: nowrap;
@include phones{
    line-height: 1.1875rem;
    }
}
.map__phone {
color: #e45028;
font-family:'ubunturegular' ;
font-weight: 700;
text-decoration: none;
margin-left: rem(20px);
@include phones {
    font-size: 0.9375rem;
    }
}
.map__information {
    width: 50%;
}
.map__social {
    display: flex;
    width: 50%;
    padding-left: 39%;
    @include phones {
        padding-left: 0;
    }
}
.social {
    background-repeat: no-repeat;
    background-position: center center;
    width: rem(23px);
    height: rem(20px);
    margin-right: rem(20px);
    margin-top: rem(18px);
    @include phones {
        margin-top: 0.125rem;
    }
} 
.social--fb {
    background-image: url(png/fb.png);
    @include phones {
        width: rem(22px);
        height: rem(20px);
    }
}
.social--inst{
    background-image: url(png/inst.png);
    @include phones {
        height: rem(20px);
        width: rem(20px);
    }
}
.social--twitter {
    background-image: url(png/twitter.png);
}
.social--vk {
    background-image: url(png/vk.png);
    margin-left: 7.125rem;
    @include phones {
        height:rem(16px) ;
        width: rem(23px);
    }
    @include tablets {
        margin-left: 0;
    }
}
.map__fake {
    background-image: url(svg/phone.svg); 
    height: 0.75rem;
    width: 0.9375rem;
    background-repeat: no-repeat;
    position: absolute;
    bottom: rem(7px);
    @include phones{
        bottom: 3.4375rem;
    }
}
.map__info {
    display: flex;
    @include phones {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-bottom: 0.625rem;
    flex-direction: column;
    }
}



