.order__block {
    margin-bottom: rem(15px);
    display: flex;
}
.form {
    color: white;
    display: flex;
    @include tablets{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include phones {
        padding: 0 5%;
        margin-left: 5.8125rem;
    }
}
.order__input {
    border: initial;
    padding: rem(5px) rem(20px);
    border-radius: rem(5px);
    background: white;
    height: rem(25px);
    width: rem(180px);
    @include phones {
        width:8.25rem ;
    }
}
.order {
    background-size: cover;
    background-image: url(png/back.png);
}
.order__form-block {
    margin-left: rem(20px);
    &:first-child {
        margin-left: 0;
    }
}
.title--order {
    color: #f9b43b;
    margin-top: 0;
    font-weight: 400;
    margin-left: rem(140px);
    margin-bottom: rem(25px);
    @include tablets {
       text-align: center;
       margin-left: 0;
    }
}
.comments__input {
    border: initial;
    padding: rem(5px) rem(20px);
    border-radius: rem(5px);
    background: white;
    width: 23.75rem;
    height: rem(110px);
        @include tablets {
            width: 25.75rem;
        }
        @include phones {
            width: 20rem;
            margin-right: 5.6875rem;
        }
    }
.order__input--home {
    width: rem(60px);
    height: rem(25px);
    @include phones {
        width: 2.25rem;
    }
}
.order__form {
    width: rem(475px);
    @include phones{
        width: 28.6875rem;
    }
}
.order__input--street {
    width: rem(420px);
    @include phones {
        width: 20.25rem;
    }
}
.order__title {
font-family: "ubunturegular";
font-size: rem(14px);
line-height: rem(24px);
}
.payment__fake {
    display: block;
    width: rem(14px);
    height: rem(14px);
    border-radius: 50%;
    border: rem(1px) solid #fff;
    position: relative;
    background: white;
    margin-right: rem(10px);
    &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: #f9b43b;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: rem(-4px);
        margin-left: rem(-4px);
        transition: .5s;
    }
}
.payment__input-call {
    width: rem(15px);
    height: rem(15px);
    margin-right: rem(10px);
}
.payment__input:checked + .payment__fake::before {
    width: rem(8px);
    height: rem(8px);
}
.payment__input {
    position: absolute;
    top: 0;
    left: rem(-9999px);
}
.payment {
    display: flex;
    margin-top: 20px;
}
.payment__label {
    margin-right: 20px;
    display: flex;
    @include phones {
        justify-content: center;
    }
}
.payment__block {
    margin-right: 20px;
    display: flex;
    @include phones {
        justify-content: center;
    }
}
.payment__button {
    padding: 3px 16px;
    border-radius: 7px;
    background: #e35028;
    color: white;
    border: none;
    font-family: 'ubunturegular';
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}
.order__title-pay {
    font-family: "ubunturegular";
    font-size: 14px;
}
.payments {
    margin-top: 20px;
    @include phones {
        justify-content: center;
    }
}
.payment__block-order {
    display: flex;
    margin-top: 20px;
    @include phones {
        justify-content: center;
    }
}
.paymennt__button-clean {
    color: #ffffff;
    font-family: 'ubunturegular';
    font-size: 14px;
    font-weight: 300;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.error {
    color: red;
    font-family: 'ubunturegular';
}
.over-lay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(76, 82, 91, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.overlay-container {
    width: 170px;
    min-height: 80px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overlay-content {
    font-size: 14px;
    margin-bottom: 16px;
    font-family: "ubunturegular";
}
.button_close {
    padding: 3px 16px;
    border-radius: 7px;
    background: #e35028;
    color: white;
    border: none;
    font-family: 'ubunturegular';
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}