.player {
    background-image: url(png/bgplayer.png);
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.title__player {
    color: #2e3133;
    text-align: center;
    margin-top: 0;
    font-weight: 400;
}
.player__volume-line {
    position: absolute;
    background: #626262;
    width: 3.75rem;
    height: 7px;
    cursor: pointer;
    top: 15px;
    right: 1.125rem;
}
.player__video {
    position: relative;
    margin:0 auto; 
}
.player__wrapper {
    position: relative;
    display: inline-block;
}
.youtubeplayer {
    position: relative;
}
.player__arrow {
position: absolute;
cursor: pointer;
background: transparent;
top: 0;
bottom: 0;
left: 0;
right: 0;
justify-content: center;
align-items: center;
display: flex;
}
.player__control {
    background: #3d3d3d;
    position: absolute;
    bottom: 4px;
    opacity: 1;
    width: rem(660px);
    left: 0;
    right: 0;
    height: 2.425rem;
}
.player__start {
    border: none;
    cursor: pointer;
    line-height: 0;
    position: absolute;
    padding: 0;
    background: transparent;
    left: 0;
}
.player__volume-icon {
    fill: #616161;
    background-color: #3d3d3d;
    width: 2.1rem;
    height: 2.1rem;
}
.player__back {
    position: absolute;
    height: 7px;
    top: 15px;
    cursor: pointer;
    width: 27.875rem;
    background: #626262;
    left: 3.75rem;
}
.player__arrow-icon {
    fill: white;
}
.player__start-icon {
    fill: #616161;
    padding-left: 15px;
}
.player__volume{
    position: absolute;
    cursor: pointer;
    top: 2px;
    border: none;
    line-height: 0;
    padding: 0;
    right: 5.625rem;
}
.player__back-button {
background: #626262;
border-radius: 50%;
border: none;
width: 0.82rem;
height: 0.82rem;
position: absolute;
padding: 0;
cursor: pointer;
top: -3px;
transform: translateX(-50%);
}

.player__volume-button {
background: #626262;
border-radius: 50%;
border: none;
width: 0.82rem;
height: 0.82rem;
position: absolute;
padding: 0;
cursor: pointer;
transform: translateX(-50%);
top: -3px;
}
.player .paused {
    width: 5px;
    border: transparent;
    border-radius: 5px;
    height: 1.375rem;
    cursor: pointer;
    color: #616161;
    top: 0.625rem;
    left: 1.25rem;
}

.player .paused::before {
    width: 5px;
    border: transparent;
    border-radius: 5px;
    height: 1.375rem;
    cursor: pointer;
    color: #616161;
    top: 0;
    left: 0.5625rem;
}










