.reviews__list {
    background: black;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.reviews__item {
    height: 50%;
    width: 25%;
    filter: grayscale(100%);
    list-style: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include tablets {
        width: 50%;
        height: 25%;
    }
    &:hover {
        .reviews__hover {
            opacity: 1;
            visibility: visible;
            transition: 1s;
        }
    }
}
.button--btn {
 border: none; 
 outline: none;
 margin: 0 0 0 20px;
width: rem(110px);
height: rem(35px);
background-color: #2f3234;
line-height: 1.0625rem;
text-align: center;
cursor: pointer;
@include phones{
    display: none;
}
}
.reviews__text {
    width:100%;
    padding: 0 10px;
    color: #ffffff;
    font-family: 'ubunturegular';
    font-size: rem(14px);
    line-height: rem(24px);
    @include tablets {
        line-height: 1.2rem;
    }
    @include phones {
        display: none;
    }
}
.reviews__title {
margin-left: rem(20px);
width: rem(139px);
color:white;
font-family: 'gagalinregular';
font-size: rem(14px);
line-height: rem(28.11px);
margin-top: rem(40px);
 @include tablets{
     margin-top: 0.5rem;
     margin-left: 7.25rem;
 }
 @include phones {
     font-size: 1.25rem;
     margin-left: 0;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }
}
.reviews__hover {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(#141414, .7);
    opacity: 0;
    visibility: hidden;
    @include phones{
        text-align: center;
    }
}
.reviews__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.button--read {
    white-space: nowrap;
    font-size: rem(13px);
    display: none;
    background-color: #2f3234;
    width: rem(110px);
    height: rem(35px);
    line-height: rem(33px);
    padding: 0.1875rem 0.5rem 0rem 0.5rem;
    @include phones {
        display: block;
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(76, 82, 91, 0.8);
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 10000;
}
.overlaycontainer {
    position: relative;
    width: 25rem;
    min-height: 13.125rem;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    padding: 2rem 1.5rem;
}
.close {
    color: red;
    position: absolute;
    top: 1rem;
    font-size: 2rem;
    right: 1.25rem;
    text-decoration: none;
    font-family: 'ubunturegular';
}
.overlaytitle {
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
    font-family: 'gagalinregular';
}
.overlaycontent {
    font-family: 'ubunturegular';
    font-size: 0.8125rem;
}