.switcher {
    position: fixed;
    top: 4.375rem;
    right: 3.75rem;
    @include tablets {
        display: none;
    }
}
 ul li {
     list-style-type: none;
 }
 .switcher__item {
     margin-bottom: 1rem;
 }
 .switcher__item-link {
     position: relative;
     background-color: #fff;
     border-radius: 50%;
     width: rem(6px);
     height: rem(6px);
     display: block;
     &::before {
         content: '';
         position: absolute;
         bottom: rem(-6px);
         right: rem(-6px);
         opacity: 0;
         border: white rem(1px) solid;
         display: block;
         border-radius: 50%;
         width: 1rem;
         height: 1rem;
     }
 }

 .switcher__item-link:hover::before {
     opacity: 1;
 }


