.switcher {
  position: fixed;
  top: 4.375rem;
  right: 3.75rem; }

ul li {
  list-style-type: none; }

.switcher__item {
  margin-bottom: 1rem; }

.switcher__item-link {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: block; }
