.best {
    background: url(png/bestbg.png) center center /cover  no-repeat;

}
.best__title {
font-family: 'lifehackmedium';
font-size: 24px;
font-weight: 500;
line-height: 28.14px;
letter-spacing: -0.6px;
width: 300px;
text-align: center;
}
.best__text {
height: 62px;
opacity: 0.8;
color: #2f3234;
font-family: 'ubunturegular';
font-size: 14px;
line-height: 24.02px;
text-align: center;

}
.best__item {
    list-style: none;
    padding-right: 20px;
}
.best__list {
    display: flex;
}
.title--thebest {
    text-align: center;
    color: #2f3234;
    margin-top: -81px;
    font-weight: 300;
}
.best__img {
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 200px;

    &--salat {
    background-image: url(svg/natural.svg);
    height: 75px;
    width: 88px;
    }

    &--hand {
    background-image: url(svg/hand.svg);
    height: 85px;
    width: 73px;
    }

    &--meat {
    background-image: url(svg/meat.svg);
    height: 89px;
    width: 97px;
    }
 }

